<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194055166965-j1aung1f2ba8vofuo0gdlepv7d58258n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194055166965-j1aung1f2ba8vofuo0gdlepv7d58258n</string>
	<key>API_KEY</key>
	<string>AIzaSyDRgArrz0ae8HX1O0VPC_2fsxENdZA7sdU</string>
	<key>GCM_SENDER_ID</key>
	<string>194055166965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.templateMobileAppV3</string>
	<key>PROJECT_ID</key>
	<string>mobile-template-app-v3</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-template-app-v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194055166965:ios:edcb4f3c530242f7955ebc</string>
</dict>
</plist>